#type-list {
    width: 60px;
}

#ve-column-1 {
    flex-grow: 1;
}

#txt-description .unity-base-text-field__input {
    height: 40px;
    -unity-text-align: upper-left;
    white-space: normal;
}

#grp-main {
    padding-top: 0px
}

#type-list {
    width: 32px;
}

#grp-stat-enhancements {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1px;
    margin-left: 0px;
    padding: 0;
}

#grp-stat-enhancements > * {
    width: 90px;
    min-width: auto;
}

#grp-stat-enhancements .unity-base-field__label {
    width: 35px;
    min-width: auto;
    -unity-text-align: middle-left;
}

#grp-stat-enhancements .unity-base-field__input {
    min-width: 0px;
}

#sld-levels > .unity-base-field__label {
    width: 80px;
    min-width: auto;
}

#sld-levels > .unity-base-field__input {
    margin-left: 3px;
}

#sld-levels > .unity-base-field__input > .unity-base-text-field {
    margin-right: 3px;
    width: 58px;
}

#grp-levels {
    flex-direction: row;
    margin-top: 1px;
    padding: 0;
    height: 20px;
}

#grp-levels > IntegerField  {
    flex-grow: 1;
    flex-basis: min-content;
}

#lbl-ap-required {
    -unity-text-align: middle-left;
    width: 80px;
}

#grp-effect-granted {
    flex-direction: row;
    margin-top: 1px;
    margin-right: 0px;
    padding: 0;
    height: 20px;
}

#grp-effect-granted > IntegerField  {
    flex-grow: 1;
    flex-basis: min-content;
}

#lbl-effect-granted {
    width: 149px;
}

#ve-info {
    flex-direction: row;
    height: 30px;
    background-color: #448844;
    color: white;
    -unity-font-style: bold;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0px;
    padding: 0px;
}

#info-icon {
    flex-grow: 1;
    margin: 2px;
    margin-left: 3px;
    max-width: 24px;
    max-height: 24px;
    border-radius: 5px;
    background-color: lightgray;
}

#info-label {
    flex-grow: 1;
    margin-left: 2px;
    -unity-text-align: middle-left;
}

#ve-abilities {
    flex-grow: 1;
}