#ve-limit-tab-container {
    background-color: rgb(60, 60, 60);
    border-width: 1px;
    border-top-width: 0px;
    border-color: rgb(35, 35, 35);
    padding-bottom: 6px;
}

#grp-limit-params {
    flex-direction: row;
    justify-content: space-between;
}

#int-limit-gauge-capacity > .unity-base-field__label {
    width: 100px;
    min-width: 100px;
}

#int-limit-uses-needed > .unity-base-field__label,
#int-limit-kills-needed > .unity-base-field__label {
    width: 80px;
    min-width: 80px;
}

#lbl-limit-selected-index {
    -unity-text-align: middle-center;
    min-width: 16px;
}

#grp-limit-params > IntegerField > .unity-base-field__input {
    min-width: 40px;
}

#grp-limit-slots > VisualElement > DropdownField {
    flex-grow: 1;
}

GroupBox {
    padding: 0;
}